{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
  <h1 class="text-2xl font-extrabold mb-6 text-yellow-900 dark:text-yellow-300">Crear un Nuevo Blog</h1>
  {{ form.media }} 
  <div>
    {{ blog.content|safe }}  
  </div>

  <form method="post" class="space-y-4 transition-all duration-300 ease-in-out">
    {% csrf_token %}
    <div class="space-y-2 transition-all duration-300 ease-in-out">
      {% for field in form %}
        <div>
          <label for="{{ field.id_for_label }}" class="block text-sm font-semibold mb-1 text-gray-800 dark:text-yellow-100">{{ field.label }}</label>
          {{ field|add_class:"bg-yellow-50 dark:bg-gray-900 text-gray-900 dark:text-white px-4 py-2 rounded-lg w-full border border-yellow-300 dark:border-yellow-700 focus:outline-none focus:ring-2 focus:ring-red-500 dark:focus:ring-yellow-400" }}
          {% if field.errors %}
            <p class="text-red-600 text-sm">{{ field.errors|striptags }}</p>
          {% endif %}
        </div>
      {% endfor %}
      <div>
      <label for="tags" class="block text-sm font-semibold mb-1 text-gray-800 dark:text-yellow-100">Etiquetas (separadas por comas)</label>
      <input type="text" name="tags" id="id_tags"
            value="{{ tag_input|default:'' }}"
            class="bg-yellow-50 dark:bg-gray-900 text-gray-900 dark:text-white px-4 py-2 rounded-lg w-full border border-yellow-300 dark:border-yellow-700 focus:outline-none focus:ring-2 focus:ring-red-500 dark:focus:ring-yellow-400">
    </div>
    </div>
    <button type="submit" class="px-6 py-2 bg-red-600 hover:bg-red-700 text-white dark:bg-yellow-500 dark:hover:bg-yellow-600 rounded font-bold transition-all duration-500 ease-in-out">Publicar Blog</button>
  </form>
{% endblock %}

